<!-- <h1>I am in component</h1>

<app-home></app-home>

<button class="btn btn-primary ">ClickMe</button>

<app-directives-demo></app-directives-demo>
<app-attribute-demo></app-attribute-demo>
<app-pipe-demo></app-pipe-demo>
<app-form-demo></app-form-demo>
<app-parent></app-parent>
<app-my-first-serv></app-my-first-serv>
<app-my-httpuse-component></app-my-httpuse-component> -->

<!-- <ul>
    <li><a [routerLink]="['/Home']">Home</a></li>
    <li><a [routerLink]="['/AboutUs']">AboutUs</a></li>
    <li><a [routerLink]="['/Form']">Form</a></li>
    <li><a [routerLink]="['/HTTP']">HTTP</a></li>
    <li><a [routerLink]="['/Attribute']">Attribute</a></li>
    <li><a [routerLink]="['/myFirstserv']">myFirstserv</a></li>
</ul> -->
<!-- <router-outlet></router-outlet> -->


<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/Home']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/Pract']">Pract</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/Login']">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/Login2']">Login2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/AboutUs']">AboutUs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/Form']">Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/HTTP']">HTTP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/Attribute']">Attribute</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/myFirstserv']">myFirstserv</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/selectcourse']">selectcourse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/addcourse']">Addcourse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/Movie']">Movie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/MyHttpUse']">MyHttpUse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/tempform']">Tempform</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>